*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  background-color: rgb(0, 10, 36);
  font-family: Arial, Helvetica, sans-serif;
}
.genre-heading{
  font-size: 22px;
  font-weight: bold;
}


/* Nav bar and Side bar */
.aside-plus-nav{
  display: flex;
  flex-direction: row;
}
.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: #f1f1f1;
  width: 80%;
  font-size: larger;
  font-weight: 600;
}
.about{
  transition: transform 2s ease;
}
.home{
  margin-right: 40px;
  transition: transform 2s ease;
}
.home:hover {
  background-color: red;
  transform: rotateY(360deg);
  color: #f1f1f1;
  padding: 4px;
}
.about:hover{
  background-color: red;
  transform: rotateY(360deg);
  color: #f1f1f1;
  padding: 4px;
}
.nav-bar button{
  font-size: xx-large;
  background-color: red;
  border-radius: 5px;
  font-weight: 600;
  color: #f1f1f1;
  padding: 3px;
  margin: 0 10px 0 40%;
  transition: width 2s, height 2s, transform 2s;
}
.nav-bar button:hover{
  width: 180px;
  height: 50px;
  transform: rotate(360deg);
}
.side-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  width: 20%;
  height: 100vh;
  /* background-color: rgb(0, 10, 36); */
}
.genres{
  list-style-type: none;
}
.genre-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}


/* Footer */

.footer{
  background-color: pink;
}
.social-icons{
  /* background-color: #c81818; */
  color: #f1f1f1;
}