*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}
.App{
  width:100% ;
}
.nav-container{
  display: flex;
  flex-direction: column;
  width: 80%;
}

/* Nav bar and Side bar */
.aside-plus-nav{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  background-color: #020930;
  opacity: 60%;
  width: 100%;
  font-size: larger;
  font-weight: 600;
  /* border-radius: 0 0 15px 15px; */
}


.home{
  margin-right: 40px;
  transition: transform 2s ease;
  color: #f1f1f1;
}
.home:hover {
  background-color: red;
  transform: rotateY(360deg);
  color: #f1f1f1;
  padding: 4px;
}

.about{
  transition: transform 2s ease;
  color: #f1f1f1;
  margin-right: 150px;
}
.about:hover{
  background-color: red;
  transform: rotateY(360deg);
  color: #f1f1f1;
  padding: 4px;
}

/* side nav styling */
.side-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #020930;
  color: #f1f1f1;
  width: 20%;
  height: 100%;
  border-radius: 0 0 20px 0;
}

/* genres styles */



.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #020930;
  opacity: 60%;
  height: 20vh;
}
.social-icons{
  color: #f1f1f1;
}
.social-icons a{
  margin-right: 10px;
}
.contacts{
  font-size: larger;
  color: #f1f1f1;
}
.address{
  font-size: larger;
  color: #f1f1f1;
}



.about-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about-page h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-page p {
  line-height: 1.5;
  margin-bottom: 10px;
}

